.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
build.locked.*/
coverage/
tmp/
supabase/.temp/
.idea/
.env
.env.*
android/.gradle/
android/local.properties
ios/Pods/
*.iml
